:root{
    --primary: #396658;
    --secondary: #439377;
    --tertairy: #a7e2b5;
    --quartairy: #FD5523;
    --background: #ffffff;
    --dark: #333;
    --light: #fff;
    --text_shadow: 0 0 3px rgba(104, 104, 104, 0.8);
    --box_shadow: 0 1px 10px rgba(104, 104, 104, 0.8);

}

html {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    font-family: Montserrat, Lekton, sans-serif;
    color: var(--dark);
}


body {
    width: 100%;
    background: var(--background);
    line-height: 1.4;
    margin: 0;
}

.button {
    background: var(--tertairy);
    color: var(--light);
    padding: 0.5rem 1rem;
    text-decoration: none;
    border: 0;
}

.wrapper {
    width: 100%;
    display: grid;
    list-style: none;
    background:  var(--background);
    grid-gap: 5px;
}

.main-nav-list{
    display: flex;
    padding-left: 0;
    margin: 0;
}

.main-nav-list-item {
    display: inline;
    fill-opacity: 1;
    align-self: center;
    flex-grow: 1;
}

/************ Main content ****************/

.main-content {
    align-content: center;
    background-color: white;
}
.main-content:focus {
    background-color: var(--secondary);
    text-shadow: var(--text_shadow);
}
.time-button {
    border-radius: 25px;
    text-align: center;
    color: var(--light);
    padding: 10px;
    margin: 5px;
    size: auto;
    font-size: xxx-large;
    background-color: var(--secondary);
}
.time-button:active {
    box-shadow: var(--box_shadow);
    text-shadow: var(--text_shadow);
 }

.score-content {
    text-align: center;
    padding: 10px;
    margin: 5px;
    size: auto;
    font-size: xxx-large;
    background-color: white;
}

#highScore {
    text-align: center;
    padding: 10px;
    margin: 5px;
    size: auto;
    font-size: xxx-large;
    background-color: white;
}
#highScoreList {
    font-size: x-large;
    width: 100%;
}

.mdc-top-app-bar--fixed-adjust {
    font-family: Montserrat, Lekton, sans-serif;
}

.mdc-top-app-bar__row {
    background-color: var(--primary);
}
